__pycache__
.idea
.venv

NER/results/ner-model

Imatch/LightGlue
Imatch/dataset/data/base_dataset
Imatch/dataset/data/train
Imatch/dataset/data/val
Imatch/models/trainable/superpoint/superpoint_sm_checkpoints
Imatch/models/trainable/superpoint/polygon_superpoint_checkpoints
Imatch/models/inference_res





